@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Poppins:wght@400;600&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: 'Inter';
  --font-poppins: 'Poppins';
  --color-hwachred: #CE2222;
  --color-hwachred-dark: #6D1212;
  --color-apollo: #ffcc02;
  --color-ares: #c9102d;
  --color-artemis: #06048d;
  --color-athena:#027b3e;
}

.custom-cursor-eye-open {
  cursor: url('/eye-open-large.png') 24 24, auto;
}

.custom-cursor-eye-close {
  cursor: url('/eye-close-large.png') 24 24, auto;
}